<!DOCTYPE html>
<html lang="en-US">
  <% include ./partials/head %>
  <head>
    <link rel="stylesheet" href="../styles/octicons/octicons.css">
    <link rel="stylesheet" href="../styles/newProfile.css">
  </head>
  <body>
    <header>
      <div class="logo">
        <a href="/logout" class="btn btn-default btn-sm"><h1></h1></a>
      </div>
      <div class="info">
          <ul>
            <a href="#"><li class="octicon octicon-comment"><h5>0</h5></li></a>
            <li><img src="<%=data.pic%>"/></li>
          </ul>
      </div>
    </header>
    <main style="height: 350px; margin: 2% auto;">
      <form class="" action="index.html" method="post">
      <input type="text" name="name" placeholder="Find your neighborhood">
      </form>

      <div class="boards">
        <%for(var i = 0; i < data.boards.length; i++){%>
          <a href="/board/<%=data.boards[i].id%>"><div class="my-boards">
            <%=data.boards[i].name%>
          </div></a>
        <%}%>
      </div>
    </main>
    <main style="height: 950px;">

      <div class="label">
      </div>
      <% for(var i = inbox.length - 1; i >= 0; i--) {%>
      <div class="inbox-messages">
        <ul>
          <%if(data.id === inbox[i].fpal[0].rId){%>
            <li><img src="<%= inbox[i].spal[0].pic%>"/></li>
            <li>
              <h4><%=inbox[i].spal[0].firstName%> <%=inbox[i].spal[0].lastName%></h4>
              <p><%= inbox.comments%></p>
            </li>

          <%} else if(data.id === inbox[i].spal[0].rId){%>
            <li><img src="<%= inbox[i].fpal[0].pic%>"/></li>
            <li>
              <h4><%=inbox[i].fpal[0].firstName%> <%=inbox[i].fpal[0].lastName%></h4>
              <p><%= inbox.comments %></p>
            </li>
          <%}%>

        </ul>
      </div>
      <%}%>
    </main>
      </body>
</html>
