<!DOCTYPE html>
<html lang="en-US">
  <% include ./partials/head %>
  <head>
    <link rel="stylesheet" href="../styles/octicons/octicons.css">
    <link rel="stylesheet" href="../styles/newProfile.css">
  </head>
  <body>
    <header>
      <div class="logo">
        <a href="/logout" class="btn btn-default btn-sm"><h1></h1></a>
      </div>
      <div class="info">
          <ul>
            <a href="#"><li class="octicon octicon-comment"><h5>0</h5></li></a>
            <li><img src="<%=data.pic%>"/></li>
          </ul>
      </div>
    </header>
    <main style="height: 350px; margin: 2% auto;">
      <form class="" action="index.html" method="post">
      <input type="text" name="name" placeholder="Find your neighborhood">
      </form>

      <div class="boards">
        <%  for(var i = 0; i < data.boards.length; i++) { %>
          <a href="/board/<%=data.boards[i].id%>"><div class="my-boards">
            <%= data.boards[i].name  %>
          </div></a>
        <%  } %>
      </div>
    </main>
    <section>
      <h1 id="h1">Inbox</h1>
      <ul>
        <% for(var i = inbox.length - 1; i >= 0; i--) { %>
          <%  if(data.id === inbox[i].fpal[0].rId)  { %>
        <li class="list">
          <div class="message-photo">
            <img src="<%=data.pic%>"/>
          </div>
          <div class="from-message">
            <h1>  <%=inbox[i].spal[0].firstName%> <%=inbox[i].spal[0].lastName%>  </h1>
            <p> <%= inbox[i].comments[inbox[i].comments.length - 1].value%> </p>
          </div>
          <div class="inbox-message">
            <h1 class="octicon octicon-arrow-left"></h1>
            <ul>
          <%  for(var j = 0; j < inbox[i].comments.length; j++) { %>
            <li>
              <div class="string-pic">
                <img src="<%=data.pic%>" alt="" />
              </div>
              <div class="string-message">
                <h1> <%= inbox[i].comments[j].from_name %> </h1>
                 <h1> <%= inbox[i].comments[j].date %> </h1>
                <p> <%= inbox[i].comments[j].value %> </p>
              </div>
            </li>
          <% }  %>
          </ul>
          </div>
        </li>
        <%  } else if(data.id === inbox[i].spal[0].rId) { %>
          <li class="list">
            <div class="message-photo">
              <img src="<%=data.pic%>"/>
            </div>
            <div class="from-message">
              <h1>  <%= inbox[i].fpal[0].firstName%> <%=inbox[i].fpal[0].lastName  %>  </h1>
              <p> <%= inbox[i].comments[inbox[i].comments.length - 1].value %> </p>
            </div>
          </li>
          <%  } %>
          <%  } %>
      </ul>
    </section>
      </body>
</html>
